/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&family=Jockey+One&family=Modak&family=Potta+One&display=swap');

/* Estilos */
@import url(./nav.css);
@import url(./nav-adm.css);
@import url(./main.css);
@import url(./modal.css);
@import url(./login.css);
@import url(./footer.css);

:root{
    --azul: #08dbff;
    --aqua: #93FFF7;
    --añil: #145B8B;
    --rojo: #E62829;
    --negro: #000000;
    --blanco: #FFFFFF;
    --text: #333;
    --input: #eee;
    --items: #ddd;
    --verdeClaro: #ECFCF4;
    --azulOscuro: #0C2D3A;
    --azulVerdoso: #209394;
}

body{
    background-color: var(--azulVerdoso);
    font-family: "Jockey One", sans-serif;
    /* font-family: "Modak", system-ui; */
}

.logo{
    font-family: "Modak", system-ui;
}