.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_container{
    display: flex;
    flex-direction: column;
    background-color: var(--verdeClaro);
    width: 50vw;
    height: 60vh;
    border-radius: 2rem;
    align-self: center;
    
}

.close_button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.3rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_button .close{
    width: 12px;
    margin: 3px;
}

.movie_info_container{
    display: flex;
    gap: 2rem;
    width: 90%;
    padding: 0 0 2rem 3rem;
    color: var(--añil);
}

.movie_info{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.7rem;
    font-family: "Jockey One", sans-serif;
}

.movie_title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.movie_data{
    display: flex;
    flex-wrap: wrap;
    width: 36rem;
}

.movie_data p{
    margin-left: 5px;
    color: var( --azulVerdoso);
}

.movie_data ul{
    color: var( --azulVerdoso);
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    gap: 5px
}

.modal_container img{
    width: 300px;
}

.description{
    display: flex;
}

.btn_trailer{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 7rem;
    color: var(--añil);
    background: none;
    border: none;
    margin-left: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Jockey One", sans-serif;
}

.description p{
    width: 30rem;
    color: black;
    font-size: 1.5rem;
    padding-top: 1rem;
    font-family: "Jockey One", sans-serif;

}

.btn_trailer img{
    width: 40px;
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
    
    .modal_container{
        width: 65vw;
        height: 68vh;
    }

    .modal_container img{
        width: 300px;
        height: 300px;
    }

    .movie_info_container{
        padding: 0 0 0 50px;
    }

    .close_button{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: var(--rojo);
        margin-top: 10px;
        align-self: flex-end;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close_button .close{
        height: 20px;
    }

    .movie_info{
        font-size: 1.5rem;
        margin-top: 0;

    }

    .basics{
        display: flex;
    }

    .btn_trailer{
        margin-left: 3rem;
    }

    .btn_trailer img{
        width: 40px;
        height: 40px;
    }
}