.modal_trailer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}


.modal_trailer_container h2{
    font-family: "Jockey One", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--añil);
}

.modal_trailer_container iframe{
    border-radius: 2rem;
}
